<app-navbar 
(classroomWithSpecificJoinCodeFound)="classroomFound($event)" 
(classroomFoundError)="classroomFoundError($event)"
(joinCodeEntered)="joinCodeEntered()">
</app-navbar>

<router-outlet></router-outlet>

<ng-container *ngIf="isClassroomFound == true && classroomFoundWithJoinCode != null">
    <app-successful-popup-message-with-accept-and-decline
    [messageHeading]="'Classroom Found'"
    [messageSubheading]="'Name: ' + classroomFoundWithJoinCode.name"
    [messageContent]="'Teacher: ' + classroomFoundWithJoinCode.creator.username"
    [acceptButtonContent]="'JOIN'"
    [declineButtonContent]="'DECLINE'"
    (acceptClicked)="joinTheClassroomSubmit(classroomFoundWithJoinCode.joinCode)"
    (declineClicked)="isClassroomFound=false && classroomFoundWithJoinCode=null"
    >
    </app-successful-popup-message-with-accept-and-decline>
</ng-container>

<ng-container *ngIf="isClassroomFoundError == true && classroomFoundErrorMessage != null">
    <app-error-popup-message 
    (isPopupClosed)="isClassroomFoundError=$event"
    [errorHeading]="'Classroom Error'"
    [errorContent]="classroomFoundErrorMessage">
    </app-error-popup-message>
</ng-container>


<ng-container *ngIf="isLoadingSpinnerOn">
    <app-loading-spinner></app-loading-spinner>
</ng-container>

