

.load-more{
    color: rgb(57, 121, 190);
    text-decoration: underline;
    cursor: pointer;
}

.hide-post{
    display: none !important;
}

.post-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}


.post-field input,textarea, button {
    width: 40%;
    font-size: 1.8rem;
    border-radius: 8px;
    padding: 1rem;
}

.post-field textarea{
    resize: none;
    border-color: green;
    height: 200px;
}

.post-field textarea:focus, textarea:active{
    outline: none;
}

.post-field button{
    background-color: rgb(106, 197, 106);
    color: white;
    border: none;
    cursor: pointer;
}

.post-field button:hover{
    transition: .2s;
    background-color: rgb(27, 108, 27);
}

.posts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 2rem;
    gap: 4rem;
    margin-bottom: 7rem;
}

.posts-container h4{
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.post{
    background-color: rgb(106, 197, 106);
    color: white;
    padding: 4rem;
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 3rem;
    width: 60%;

    position: relative;
}

.post__heading{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.post__heading h4{
    font-size: 1rem;
}

.post__heading h3{
    margin-top: 2rem;
}

.post__show-comments{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    padding: .5rem;
    width: 80%;
    cursor: pointer;
    position: relative;
}


.post__show-comments:hover{
    transition: .2s;
    background-color: rgb(27, 108, 27);
}

.post__show-comments:hover .show-comments__message{
    display: block;
}

.heading__created-at{
    font-size: 1.7rem;
}

.heading__created-at{
    position: absolute;
    top: 20px;
    right:30px;
}

.show-comments__message{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(143, 191, 141, 0.68);
    padding: .5rem;
    text-align: center;
}

.post__comments{
    background-color: rgb(27, 108, 27);
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
}

.post-container__head{
    margin-bottom: -10rem;
}

posts-container__filter{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.posts-container__filter input{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
    font-size: 2rem;
    width: 60%;
}

.edit-post-image{
    position: absolute;
    top:1rem;
    left:.5rem;
    background-color: rgb(27, 108, 27);
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
}

.delete-post-image{
    position: absolute;
    top:1rem;
    left:6rem;
    background-color: rgb(138, 33, 33);
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
}

.edit-post-image:hover,
.edit-post-image:focus{
    transition: .2s;
    background-color: rgb(65, 163, 65);
}

.delete-post-image:hover,
.delete-post-image:focus{
    transition: .2s;
    background-color: rgb(197, 85, 85);
}

.edit-post-title{
    padding: 1rem;
    font-size: 2rem;
    border-radius: 8px;
    outline: none;
    background-color: rgb(118, 207, 118);
    color: white;
    width: 70%;
    font-weight: bold;
    
}

.edit-post-content{
    padding: 1rem;
    font-size: 1.9rem;
    border-radius: 8px;
    resize: none;
    background-color: rgb(118, 207, 118);
    outline: none;
    color: white;
    border-color: green;
    height: 300px;
    width: 70%;
}

.edit-post-content::placeholder,
.edit-post-title::placeholder
 {
    color: rgb(216, 216, 216); /* Zamijenite "red" sa željenom bojom */
}

.edit-post-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .edit-post-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .edit-post-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  
  .edit-post-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }


.edit-post-section{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    gap: .3rem;

}

.edit-post-section button{
    color: white;
    background-color:rgb(53, 133, 53) ;
    outline: none;
    border: none;
    cursor: pointer;
    width: 70%;
}

.edit-post-section button:hover{
    transition: .2s;
    background-color:rgb(45, 151, 45) ;
}

@media(max-width: 1000px){
    .posts-container__filter input{
        width: 90%;
        font-size: 1.8rem;
    }

    .post-field input,textarea, button {
        width: 70%;
    }

    .post{
        width: 90%;
    }

    .post__comments{
        width: 110%;
    }
}

@media(max-width: 600px){
    .edit-post-section *{
        font-size: 1.5rem;
    }

    .edit-post-section button, 
    .edit-post-section textarea,
    .edit-post-section input{
        width: 100%;
    }

    .edit-post-image,
    .delete-post-image{
        width: 35px;
        height: 35px;
        padding: .2rem;
    }

    .delete-post-image{
        left: 4.5rem;
    }

    .post-field input,textarea, button {
        width: 90%;
    }

    .post__comments{
        width: 130%;
    }

}
