:host{
    animation:fade-in .5s ease ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    width: 100%;
}

:host p {
    font-size: 2rem;
    margin-bottom: .1rem;
}

.switch{
    display: flex;
    justify-content: center;
}

:host a {
    font-size: 1.7rem;
    margin-right: 1rem;
}

.joinedClassrooms{
    padding-bottom: 1.8rem;
}

h1{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}